.header {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
    background: linear-gradient(to right, #4facfe, #00f2fe);
    color: white;
}

.atas {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
    background: linear-gradient(to right, #4facfe, #2209db);
    color: white;
}
.bawah {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
    background: linear-gradient(to right, #4facfe, #95db09);
    color: white;
}
.footer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
    background: linear-gradient(to right, #4facfe, #05f063);
    color: white;
}